
    /* 2 columns and has correct width */ 
        main {
            display: block; 
        } 
    
        .title {
            font-size: 0.9rem;
            }
           

                .top_image {
                    
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        margin: 10px auto;
                        position: relative;
                        width: 100%;
                        height: auto;
                }

                @media only screen and (max-width: 500px) and (min-width: 0px) {
                article img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin: 10px auto;
                    position: relative;
                    width: 100%;
                    height: auto;
                    }
                }



           section {
               max-width: 600px;
             margin: .5rem auto;
               border:1px solid #bbb;
             background-color: #eee;
             padding: 10px;
           }
article {
    background-color: bisque;
}
article h2{
    padding: 5px;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}

.towns img {
    box-shadow: 0 5px 15px gray;
    }

    .important {
        color: red;
      
    }