table thead tr {
  background-color: #EBF8FF;
  font-weight: bold;
  font-size: 35px;
}

tfoot tr {
  background-color: #F8B62D;
  font-size: 15px;
  font-family: 'Harmattan', sans-serif, Arial, Helvetica;
}

table {
  font-size: 20px;
  background-color: white;

  text-align: center;
  font-family: 'Harmattan', sans-serif, Arial, Helvetica;
}

th {
  background-color: #F8B62D;
  color: black;
  padding: 13px 10px;
  font-size: 25px;
  font-family: 'Harmattan', sans-serif, Arial, Helvetica;
}

tr {
  background-color: #fff4dd;
}

table tr:nth-of-type(2n) {
  background-color: #e7f0ed;
}

td {
  padding: 13px 50px;
}


