.footertext {
  padding-top: 25px;
  text-align: center;
  color:black;
  vertical-align: middle;
  font-family: 'Harmattan', sans-serif, Arial, Helvetica;
}

.footerlink {
  color: black;
  font-family: 'Harmattan', sans-serif, Arial, Helvetica;
}

.yellowfootertext {
  text-align: center;
  color: black;
  vertical-align: middle;
  font-family: 'Harmattan', sans-serif, Arial, Helvetica;
}
  
.icon {
  width: 50px;
  height: auto;
}
.font {
  font-family: 'Harmattan', sans-serif, Arial, Helvetica;
}

.container {
  border: 15px solid #ffcc5c;
  display: flex;
}

.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: white;
  width: 25%;
}
@media only screen and (max-width: 32.5em) {

  .container {
    flex-wrap: wrap; 
  }

  .container > div:nth-child(1) {
    background-color: white;
    width: 100%;	
  }
  
  .container > div:nth-child(2) {
    background-color: white;
    width: 100%;	
  }
  
  .container > div:nth-child(3) {
    background-color: white;
    width: 100%;	
  }
  
  .container > div:nth-child(4) {
    background-color: white;
    width: 100%;	
  }
}


html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1) {
  background-color: white;
}

.container > div:nth-child(2) {
  background-color: white;
}

.container > div:nth-child(3) {
  background-color: white;
}

.container > div:nth-child(4) {
  background-color: white;
}