@media only screen and (min-width: 920px) and (max-width: 9000000px) {

    .map {
        float: left;
        padding: 15px;
      }

      .bottombox { 
		height: 255px;
	  }

      .oranges {
        width: 500px;
      }
      
}

