@media only screen and (min-width: 920px) and (max-width: 9000000px) {

    .map {
        float: left;
        padding: 10px;
        height: 300px;
        padding-left: 90px;;
      }

      .bottombox { 
		height: 350px;
	  }

      .oranges {
        width: 500px;
      }
      
      
}

