
/* Media Query for medium+ views */
@media only screen and (min-width: 750px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

}

/* Media Query for medium+ views */
@media only screen and (min-width: 610px) and (max-width: 920px) {
	.oranges {
		display: block;
		width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	.bottombox { 
		height: 230px;
	  }
	.map {
		width: 300px;
			float: left;
			padding: 15px;
			padding-top: 30px;
		  }
	}
	.skyline {
		display: block;
		width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	
	


}